* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: monospace;
    font-size: 14px;
    color: lightblue;
}

window#waybar {
    background-color: rgba(0,0,0,0.7);
    }

.modules-center {
	background-color: rgba(0,0,0,0.0);
}
.modules-left {
	background-color: rgba(0,0,0,0.0);
}

.modules-right {
	background-color: rgba(0,0,0,0.0);
	padding-left: 8px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0 -3px rgba(0,0,0,0.2);
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(255,255,255,0.1);
}

#workspaces button {
    padding: 0 5px;
    color: lightpink;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused, #workspaces button.active {
    background-color: rgba(255,255,255,0.1);
    border-radius: 0px;
}

#workspaces button.urgent {
    background-color: rgba(255,0,0,0.4); /*#eb4d4b;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumberudo 
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

#clock {
    color: rgb(200,180,235);
    border-bottom: 3px solid rgb(200,180,235);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: rgb(150,150,235);
    border-bottom: 3px solid  rgb(150,150,235);
}

#memory {
    color: rgb(125,125,235);
    border-bottom: 3px solid rgb(125,125,235);
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#custom-cpu_temp {
	color: rgb(150,150,235);
	border-bottom: 3px solid rgb(150,150,235);
}

#custom-gpu_usage {
	color: rgb(190,190,235);
	border-bottom: 3px solid rgb(190,190,235);
}

#custom-vpn {
	color: rgb(220,220,235);
	border-bottom: 3px solid rgb(220,220,235);
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(190,130,235);
    border-bottom: 3px solid rgb(190,130,235);
}

#pulseaudio.muted {
    background-color: transparent;
    color: rgb(190,130,235);
    border-bottom: 3px solid rgb(190,130,235);
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
